* {
  margin: 0;
  padding: 0;
  background-color: rgba(228, 203, 232, 0.548);
  list-style-type:none;
  
}


/*fuentes*/

h1 {
  text-align:start;
  font-size: 60px;
  display: flex;
  font-family:Cambria;
  color: rgba(111, 14, 109, 0.969);
  margin: 10px 0px 0px 250px;
}

h2 {
  display: flex;
  font-size: 50px;
  text-align:left;
  margin:1px ;
  color: rgba(3, 0, 2, 0.941);
}


.texto-de-la-pagina {
  display: flex;
  font-family: 'Dancing Script';
  color: rgba(11, 3, 3, 0.793);
  font-size: 40px;
}



/*contenedores*/

.container-grid {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(3, 400px);
  grid-template-areas:
    "header header header"
    "secciones secciones secciones"
    "footer footer footer";
  justify-content:center;
}

.borderBlood-img img {
  width: 100%;
  height: 320px;
}


    
.header {
  border: 3px solid rgba(228, 203, 232, 0.548);
  grid-area: header;
  margin-top: 0PX;
  margin-right: 1px;

}


/*Navegador-1*/

.navegador {
  width: 100%;
  height: 1px;
  display: flex;
  grid-area: nav;
  border-bottom: 1px rgba(228, 203, 232, 0.548);
  border-top:  3px;
  
  
}
.nav-1 {
  margin-top: 40px;
  margin-right: 10px;
  display: flex;
  width: 100%;
  justify-content:flex-end ;
  font-size: 40px;
  
  }



/*imagenes-de-redes-sociales*/
.Logo-red-social{
  grid-area: secciones;
  align-content: flex-end;
  padding-right: 1px;
  margin-left: 100px;
  width: 50px;
  height: 50px;
}



.luna-murcielago img {
  display: flex;
  margin-left: 150px;
  
  
}


.imagenes-nav2 {
  grid-area: header;
  display:flex;
  margin-top: 800px; 
  margin-right: 200PX;
  justify-content: space-around;


}
.imagenes-nav2 img {
  grid-area: header;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 200px;
  margin: 0px;
  border-width: 4px;
  border-color: rgba(138, 27, 138, 0.422);
  border-style:double;
}


 /*imagenes del body*/

.colmillos-maquillaje {
  width: 300px;
  height: 300px;
}
.img-spider {
  padding: 50px 150px 50px 50px;
  width: 120px;
  height: 400px;
}



.img-zapatillasRock {
  width: 300px;
  height: 260px;
}

.img-chicaPinUp {
  width: 300px;
  height: 240px;
}



/*footers*/

.footer {
  border: 2px solid rgba(228, 203, 232, 0.548);
  grid-area: footer;
  padding: 2px 1px 2px 1px;
  float: right;
  width: 100%;
  height: 100px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  
}
.footer-container ul {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.footer-container ul,
li {
  margin: 10px 6px 3 3;
}
.logo img {
  padding: 10px;
  width: 70px;
  height: 70px;
  margin: 10px;
}




 /*medias-queries*/
  

 @media screen and (min-width: 992px) {
 
 }

 @media screen and (min-width: 768px) {

 }

 @media screen and (min-widt:576pz) {

 }